table{
    border: 10px;
    border-color: black;
  }
  td{
    border: 10px;
    border-color: black;
  }
  textarea{
    background-color: aqua;
    margin-left: auto;
    text-align: center;
  }
  tr{
    align-items: center;
  }
  table{
    margin-top: auto;
    border: 3px solid black;
    background-color: rgb(176, 225, 239);
  }
  #box{
    border: 1px solid black ;
  }
  #submit{
    background-color: rgb(13, 218, 13);
  }